.footer {
  .wrap {
    max-width: 1450px;
    padding: 20px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      margin: 0 2rem 0 0;
    }

    .links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 2rem 0 0;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 3.3rem 8rem 0;

        span {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 867px) {
  .footer {
    .wrap {
      .links {
        > div {
          a {
            &:not(:last-child) {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}
